html,body{
    height: 100vh;
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
/*Color classes*/
.bg-light{
    background: #fafbfb;
}
.bg-dark{
    background: #0d0e0f;
}
.bg-white{
    background: #fff;
}
.bg-black{
    background: #000
}
.text-light{
    color: #fafbfb;
}
.text-dark{
    color: #0d0e0f;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #000
}

/* header CSS */
header{
    top:0;
    width:100%;
    position: fixed;
    background: transparent;
    z-index: 1;
}
nav ul{
    display: inline-block;
    margin-top: 20px;
    margin-left: 4em;
}
nav ul li {
    display: inline-block;
    margin-right: 4em;
  }
.nav-right{
    width: 50%;
    float: right;
    text-align: left;
}
.nav-left{
   
    float: left;
    width: 50%;

}

/*container*/
.full-width-container{
    position: relative;
    width: 100%;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content: space-around;  
}
.hero-left{
    display:flex;
    flex-direction:column;
    width:50%;
    height: 100vh;
    background: #fafbfb;
}
.hero-right{
    display:flex;
    flex-direction:column;
    width:50%;
    height: 100vh;
    background: #0d0e0f;
}


/*Media Queries*/
@media only screen and (max-width:600px){
    .nav-right{
        display: none;
    }
}